@page "/login" 

<Row Align="center">
    <Avatar Src="favicon.ico"/>
    <Title>登录</Title>
    <Form Model="">

    </Form>
</Row>


@code {

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }


}
